<div align="center">
  <div class="container" class="tempLeft">
    <h3> top 25 </h3>
    <hr>
    <nav>
      <p class="c">
        <a routerLink="/aeternity" routerLinkActive="active">Aeternity</a>
        <a routerLink="/aion" routerLinkActive="active">Aion</a>
        <a routerLink="/augur" routerLinkActive="active">Augur</a>
        <a routerLink="/bitshares" routerLinkActive="active">Bitshares</a>
        <a routerLink="/golem" routerLinkActive="active">Golem</a>
        <a routerLink="/maker" routerLinkActive="active">Maker</a>
        <a routerLink="/ontology" routerLinkActive="active">Ontology</a>
        <a routerLink="/siacoin" routerLinkActive="active">Siacoin</a>
        <a routerLink="/status" routerLinkActive="active">Status</a>
        <a routerLink="/stratis" routerLinkActive="active">Stratis</a>
        <a routerLink="/wanchain" routerLinkActive="active">Wanchain</a>
        <a routerLink="/zero-x-0x" routerLinkActive="active">0x</a>
        <a routerLink="/zilliqa" routerLinkActive="active">Zilliqa</a>
      </p>
    </nav>
    <hr>
  </div>
</div>
<div class="container" class="tempRight">
  <div class="center">
    <router-outlet></router-outlet>
  </div>
</div>