<label>
  Ontology is a blockchain/distributed ledger network which combines a distributed identity system, distributed data exchange, 
  distributed data collaboration, distributed procedure protocols, distributed communities, distributed attestation, 
  and various industry-specific modules. Together this builds the infrastructure for a peer-to-peer trust network which is cross-chain, 
  cross-system, cross-industry, cross-application, and cross-device.”
  <br> <br>
  <a href="https://coincentral.com/ontology-ont-beginners-guide/">Ontology info website</a>
</label>